@import "../globalstyle";

:local .datafiletext {
  width: 100%;
}

:local .datafiletype {
  width: 80px;
}

:local .chips {
  display: flex;
  flexWrap: wrap;
}

:local .chip {
  margin-right: 4px;
}

:local .block {
  max-width: 250px;
}

:local .toggle {
  margin-bottom: 16px;
}
