:local .chips {
  display: flex;
  flex-wrap: wrap;
}

:local .chip {
  margin-right: 4px;
}

:local .block {
  max-width: 250px;
}

:local .toggle {
  margin-bottom: 16px;
}

:local .toolscol {
  border: 1px solid rgb(217, 217, 217);
}
