:local .episection {
  transition: visibility 0s, opacity 0.5s, height 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

:local .active {
  visibility: visible;
  height: auto;
  opacity: 1;
}

:local .deactive {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

:local .rightContent {
  margin-top: 30px;
}
